<div class="background">
    <img class="background--img" src="/images/imagenPrincipal.jpg" alt="background">
</div>

<section class="products">

    <article class="filter">
        <ul>
            <h4>TYPES</h4>
            <li><a href="">Athletic & Sneakers</a></li>
            <li><a href="">Cleats</a></li>
            <li><a href="">Boots</a></li>
            <li><a href="">High Tops</a></li>
        </ul>

        <ul>
            <h4>GENDER</h4>
            <li><a href="">Men</a></li>
            <li><a href="">Women</a></li>
        </ul>

        <h4>COLOR</h4>

        <div class="filter__colors">
            <button class="filter__colors--red"></button>
            <button class="filter__colors--white"></button>
            <button class="filter__colors--black"></button>
            <button class="filter__colors--yellow"></button>
            <button class="filter__colors--orange"></button>
            <button class="filter__colors--blue"></button>
            <button class="filter__colors--rose"></button>
            <button class="filter__colors--brown"></button>
        </div>

    </article>

    <article class="listProducts">

        <h2>SHOES</h2>

        <article class="flexSearch">
            <button class="flexSearch__filter">
                FILTER
            </button>
            <button class="flexSearch__order">
                ORDER
            </button>
        </article>

        <div class="order">
            <p><strong>Popular</strong></p>
            <p><strong>New shoes</strong></p>
            <p><strong>Price: Low to high</strong></p>
            <p><strong>Price: Hig to low</strong></p>
        </div>


        <section class="listProducts__myproducts">
            {{#each products}}

            <div class="screen">

                <article class="screen__losmoldes">
                    <div class=" screen__molde"></div>
                    <div class=" screen__molde--info"></div>
                </article>

                <section class="screen__info">
                    <img class="screen__product" src="{{img}}" alt="imageProduct">

                    <nav>
                        <div class="screen__stars">
                            <img class="screen__rating" src="{{ imgrating }}" alt="rating">
                        </div>

                        <a href="/product/{{ name }}/{{ _id }}">
                            <h3>{{ name }}</h3>
                        </a>

                        <article class="screen__mybtn">
                            <button class="screen__btn">
                                <div class="screen__btn__container">
                                    <p class="screen__btn--span">Add to cart</p>
                                    <img class="screen__btn--cart" src="/images/cart.png" alt="">
                                </div>
                            </button>
                        </article>
                    </nav>

                    <span>{{ price }}$</span>

                    {{!--
                        <span>{{ rating }}</span>
                        <span>{{ type }}</span>
                        <span>{{ gender }}</span>
                        <span>{{ color }}</span> 
                        --}}
                </section>


            </div>

            {{/each}}

        </section>

    </article>

</section>