<div class="content" style="background: {{background}}">

    <section class="content__shoe">
        <img src="{{ img }}" alt="imageShoe">
    </section>

    <article class="content__titles">
        <h1> {{ name }}</h1>
        <h3> {{subtitle}} </h3>
        <p> {{description}}</p>

    </article>

</div>